/* Sticky (But Not Fixed) Footer */

.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  background-color: #ffffff;
  text-align: center;
}
/* ========================= */

.FooterText {
  font-family: var(--primaryFontFamily);
  color: var(--primaryDark);
  margin-top: 5px;
  font-size: 12.5px;
  letter-spacing: 1px;
}
